.main{
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding-right: 0;
   font-family: 'Roboto';
   letter-spacing: 0.07rem;
}
.logo{
   margin: 5% 7% 0;
   font-size: 1.4rem;
}
.grps{
   margin-top: 1rem;
   height: fit-content;
   width: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   display: flex;
   justify-content: center;
}
.grpContainer{
   width: 80%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 1rem;
}

.button{
   height: fit-content;
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 1% 0;
}
.button :hover{
   cursor: pointer;
}

.buttonContent{
   background-color: black;
   color: aliceblue;
   min-width: 85%;
   display: flex;
   align-items: center;
   font-family: 'Roboto';
   letter-spacing: 0.07rem;
   justify-content: center;
   border-radius: 5rem;
   padding: 2%;
   font-weight: 400;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}