.app{
   margin-top: 1.5vh;
   margin-right: 0;
   height: 10vh;
}
.main :hover{
   cursor: pointer;
}
.main{
   display: flex;
   margin-left: 5vh;
   align-items: center;
   height: 100%;
   background-color: #F7ECDC;
   border-radius: 10rem 0 0 10rem;
   padding-left: 1vw;
   font: 0.9em sans-serif;
}
.avatar{
   font-size: 1.3em;
   letter-spacing: 0;
   background-color: blue;
   color: aliceblue;
   height: 8vh;
   width: 4vw;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}