.app {
  position: absolute;
  background: rgba(16, 16, 16, 0.5);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  letter-spacing: 0.05rem;
  font-size: 1.15em;
  font-weight: 500;
}
.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.container {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 20%;
  max-width: 90%;
  background-color: white;
  padding: 1% 3%;
  border-radius: 0.5rem;
}
.containerHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
  vertical-align: middle;
  margin: 2% 0;
}
.containerElement,
.colorSelect {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.labels {
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}
.grpName {
  flex-basis: auto;
  min-width: 13rem;
  height: 80%;
  border-radius: 5em;
  outline: none;
  border: 2px #c3c3c3 solid;
  font-size: 1em;
}

.button {
  margin-top: 1.5rem;
  margin-left: 70%;
  margin-bottom: 0.5rem;
  height: fit-content;
  background-color: black;
  color: white;
  min-width: 25%;
  border-radius: 0.5em;
  padding: 1%;
  text-align: center;
  cursor: pointer;
}
.palette {
  flex-basis: auto;
  display: flex;
  gap: 2em;
  min-width: 13rem;
  vertical-align: middle;
}

.customRadioButton {
  position: relative;
  height: 100%;
  width: fit-content;
}

.customRadioButton input {
  position: absolute;
  opacity: 0;
}

.customRadioFill {
  position: absolute;
  top: -1rem;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}

.customRadioButton:hover .customRadioFill {
  border: 2px solid #888;
}
.container input:checked + .customRadioFill {
  border: #888888 3px solid;
}
