.main{
   height: 100%;
   width: 28vw;
   display: flex;
   flex-direction: column;
   padding-right: 0;
   font-family: 'Roboto';
   letter-spacing: 0.07rem;
   
}
.logo{
   margin: 7% 12% 0;
   font-size: 1.4rem;
}
.grps{
   height: max-content;
   overflow-y: auto;
   padding-bottom: 15%;
}